{% extends 'base.html' %}

{% block content %}
<div class="box">
	<div class="block">		
		<div class="level">
			<div class="level-left">
				<form action="" method="POST">
					<div class="field has-addons">
						<div class="control is-expanded">
							<input class="input" type="text" placeholder="Enter LRN">
						</div>
						<div class="control">
							<button class="button is-primary">
									Search
							</button>
						</div>
					</div>
				</form>				
			</div>
			<div class="level-right">
				<a href="#" class="button is-light">Logout</a>
			</div>
		</div>
	</div>

	<div style="height: 500px; overflow-y: scroll;" class="block">
		<table class="table is-striped is-bordered is-fullwidth is-hoverable is-scrollable is-narrow">
			<thead>
			  <tr style="background-color:whitesmoke;" class="has-text-centered">
				<th>ID</th>
				<th>LRN</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>SHS Average</th>
				<th>Status</th>
				<th>Priority Choice</th>
				<th>Second Choice</th>
				<th>Action</th>
			  </tr>
			</thead>
			<tbody>
				  
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<div class="level">
							<div class="level-item">
								<button class="button is-small">
									Edit
								</button>
						<div class="level-item ml-2">
							<form action="" method="POST">
								<button class="button is-small">
									Delete
								</button>
							</form>
						</div>		
							</div>
						</div>
					</td>
				</tr>  				  		
			</tbody>
		  </table>
	</div>

</div>
{% endblock content %}