{% extends 'base.html' %}

{% block content %}
	<div class="columns">
		<div class="column is-offset-4 is-4">
			<div class="box mt-5">
				<div class="container">
					<h1 class="title has-text-centered">Application Form</h1>
				
					<div class="container">
						<!-- enclose in <form action="" method="POST> -->
						<div class="field">
						  	<label class="label">LRN</label>
							<div class="control">
								<input class="input" type="text" placeholder="e.g. 20191234567">
						  	</div>
						</div>
						<div class="field">
						  	<label class="label">Last Name</label>
							<div class="control">
								<input class="input" type="text" placeholder="e.g. Dela Cruz">
						  	</div>
						</div>
						<div class="field">
						  	<label class="label">First Name</label>
							<div class="control">
								<input class="input" type="text" placeholder="e.g. Juan">
						  	</div>
						</div>
						<div class="field">
						  	<label class="label">SHS Average Grade</label>
							<div class="control is-expanded">
							  	<div class="select is-fullwidth">
							    	<select>
							      		<option>Select average</option>
							      		<option>85</option>
							      		<option>86</option>
							      		<option>87</option>
							      		<option>88</option>
							      		<option>89</option>
							      		<option>90</option>
							      		<option>91</option>
							      		<option>92</option>
							      		<option>93</option>
							      		<option>94</option>
							      		<option>95</option>
							      		<option>96</option>
							      		<option>97</option>
							      		<option>98</option>
							      		<option>99</option>
							    	</select>
							  	</div>
							</div>
						</div>
				
						<div class="columns" style="margin-bottom: 8px">
							<div class="column"><h1 class="label">Priority Choice</h1></div>
							<div class="column"><h1 class="label">Second Choice</h1></div>
						</div>
				
						<fieldset>
							<div class="columns is-multiline">
							  	<div class="column is-half pt-0">
									<div class="select is-fullwidth">
									 	<select>
									   		<option>Select course</option>
									   		<option>BSCS</option>
									   		<option>BSEMC-GD</option>
									   		<option>BSEMC-DA</option>
									   		<option>BSIS</option>
									   		<option>BSIT</option>
									 	</select>
									</div>
								</div>
							  	<div class="column is-half pt-0">
							  		<div class="select is-fullwidth">
							  		 	<select>
							  		   		<option>Select course</option>
							  		   		<option>BSCS</option>
							  		   		<option>BSEMC-GD</option>
							  		   		<option>BSEMC-DA</option>
							  		   		<option>BSIS</option>
							  		   		<option>BSIT</option>
							  		 	</select>
							  		</div>
							  	</div>
							</div>
						</fieldset>
				
						<div class="field pt-5">
						  	<p class="control">
						  		<!-- add attr type="submit" to button -->
						    	<button class="button is-primary is-fullwidth">
						      		Submit
						    	</button>
						  	</p>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}