{% extends 'base.html' %}

{% block content %}
<!--  -->

{{ query }} <!-- accessing varible returned by return statement -->

<p>-------------------------</p>

{% for q in query %} <!-- iterating through the tuple -->
	<p>{{q}}</p>
{% endfor %}


<!--  -->
	<div class="columns">
		<div class="column is-offset-4 is-4">
			<div class="box mt-5">
				<div class="container">
					<h1 class="title has-text-centered">Applicant Details</h1>
				
					<div class="container">
						<form action="" method="POST">
							<div class="field">
							  	<label class="label">LRN</label>
								<div class="control">
									<input class="input" type="text" placeholder="e.g. 20191234567" value="{{query[1]}}">
							  	</div>
							</div>
							<div class="field">
							  	<label class="label">Last Name</label>
								<div class="control">
									<input class="input" type="text" placeholder="e.g. Dela Cruz" value="{{query[2]}}">
							  	</div>
							</div>
							<div class="field">
							  	<label class="label">First Name</label>
								<div class="control">
									<input class="input" type="text" placeholder="e.g. Juan" value="{{query[3]}}">
							  	</div>
							</div>
							<div class="field">
							  	<label class="label">SHS Average Grade</label>
								<div class="control is-expanded">
								  	<div class="select is-fullwidth">
								    	<select>
								      		<option>Select average</option>
								    		{% for i in range(85,100) %}
								      			<!-- SELECTED if equal-->
								      			{% if i == query[4] %}
								      				<option value="{{i}}" selected>{{i}}</option>
								      			{% else %}
								      				<option value="{{i}}">{{i}}</option>
								      			{% endif %}
								      		{% endfor %}
								    	</select>
								  	</div>
								</div>
							</div>
					
							<div class="columns" style="margin-bottom: 8px">
								<div class="column"><h1 class="label">Priority Choice</h1></div>
								<div class="column"><h1 class="label">Second Choice</h1></div>
							</div>
					
							<fieldset>
								<div class="columns is-multiline">
								  	<div class="column is-half pt-0">
										<div class="select is-fullwidth">
										 	<select>
										 		<option>Select course</option>
										 		{% for course in courses %} 
													{% if course[0] == query[6] %}
								      					<option value="{{course[1]}}" selected>{{course[1]}}</option>
									      			{% else %}
									      				<option value="{{course[1]}}">{{course[1]}}</option>
								      				{% endif %}
												{% endfor %}
										 	</select>
										</div>
									</div>
								  	<div class="column is-half pt-0">
								  		<div class="select is-fullwidth">
								  		 	<select>
								  		 		<option>Select course</option>
										 		{% for course in courses %} 
													{% if course[0] == query[7] %}
								      					<option value="{{course[1]}}" selected>{{course[1]}}</option>
									      			{% else %}
									      				<option value="{{course[1]}}">{{course[1]}}</option>
								      				{% endif %}
												{% endfor %}
								  		 	</select>
								  		</div>
								  	</div>
								</div>
							</fieldset>
							<div class="field">
							  	<label class="label">Status</label>
								<div class="control is-expanded">
								  	<div class="select is-fullwidth">
								    	<select>
								    		{% set statuses = ['Applied','Admitted','Waitlisted','Godbless'] %}
								      		{% for status in statuses %} 
												{% if status[0] == query[5] %}
							      					<option value="{{status}}" selected>{{status}}</option>
								      			{% else %}
								      				<option value="{{status}}">{{status}}</option>
							      				{% endif %}
											{% endfor %}
								    	</select>
								  	</div>
								</div>
							</div>
							<div class="field pt-5">
							  	<p class="control">
							    	<button class="button is-primary is-fullwidth" type="submit">
							      		Save changes
							    	</button>
							  	</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}