{% extends 'base.html' %}

{% block content %}
<div class="box mt-6">
	<div class="block">		
		<div class="level">
			<div class="level-left">
				<form action="/admin/course" method="POST">
					<div class="field has-addons">
						<div class="control is-expanded">
							<input class="input" type="text" name="course_name" placeholder="Enter Course Name" required>
						</div>
						<div class="control">
							<input type="submit" class="button is-primary" value="Search">
						</div>
					</div>
				</form>				
			</div>
			<div class="level-right">
				<!-- <form action="{{ url_for('course_create') }}" method="POST">
					<input type="submit" class="button is-primary mr-2" value="Add Course">
				</form> -->
				<a href="{{url_for('course_create')}}" class="button is-primary mr-2">Add Course</a>
				<a href="{{url_for('admin')}}" class="button is-light mr-2">Applicant</a>
				<a href="{{ url_for('course') }}" class="button is-light mr-2">Courses</a>
				<a href="#" class="button is-light mr-2">Admins</a>
				<a href="{{url_for('logout')}}" class="button is-ghost">Logout</a>
			</div>
		</div>
	</div>

	<div style="height: 500px; overflow-y: scroll;" class="block">
		<table class="table is-striped is-bordered is-fullwidth is-hoverable is-scrollable is-narrow">
			<thead>
			  <tr style="background-color:whitesmoke;" class="has-text-centered">
				<th>ID</th>
				<th>Name</th>
				<th>Action</th>
			  </tr>
			</thead>
			<tbody>
			{% for row in rows %}	  
				<tr>
					{% for cell in row %}
						<td>{{ cell }}</td>
					{% endfor %}
					<td>
						<div class="level">
							<div class="level-item">
								<a href = "{{url_for('course_edit',course_id=row[0])}}" class="button is-small">
									Edit
								</a>
						<div class="level-item ml-2">
							<form action="{{url_for('course_delete',course_id=row[0])}}" method="POST">
								<input type="submit" class="button is-small" value="Delete">
							</form>
						</div>		
							</div>
						</div>
					</td>
				</tr> 
			{% endfor %} 				  		
			</tbody>
		  </table>
	</div>
{% endblock content %}

