{% extends 'base.html' %}

{% block content %}
<div class="columns">
	<div class="column is-offset-4 is-4">
		<div class="box mt-5">
			<div class="container">
				<h1 class="title has-text-centered">Login</h1>
			
				<div class="container">
					<form action="#" method="POST">
						<div class="field">
							<label class="label">Username</label>
							<div class="control">
								<input class="input" type="text" placeholder="" required>
							</div>
						</div>
						<div class="field">
							<label class="label">Password</label>
							<div class="control">
								<input class="input" type="password" placeholder="" required>
							</div>
						</div>
						<div class="field pt-5">
							<p class="control">
								<input type="submit" class="button is-primary is-fullwidth" value="Search">
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}